{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SAF LOGISTICS - Свяжитесь с нами</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


  <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
    ></script>
    <script type="text/javascript">
      (function () {
        emailjs.init("q4CdGBE8zI_F5G4f_");
      })();
    </script> 
    
 <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
 
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'assets/img/logoo.png' %}" alt=""> 
       <h3 style="font-size: 13px; color:white ; " >SAF <br> Logistics <br> Company</h3>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'home' %}" >Главная</a></li>
          <li><a href="{% url 'about' %}">О компании</a></li>
          <li><a href="{% url 'services' %}" >Услуги</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="get-a-quote" href="{% url 'get-a-quote' %}">Свяжитесь с нами</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('https://i.postimg.cc/hGn8x1kF/page-header.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>ОТСЛЕДИТЬ ЗАКАЗ</h2>
              <!-- <p>Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p> -->
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li>ОТСЛЕДИТЬ ЗАКАЗ</li>
          </ol>
        </div>
      </nav>
<div class="container">
  <div>
      <div class="input-zakaz-div row" style="box-shadow: 0 0 10px 1px #7b7b7b ; border-radius: 10px;  justify-content: center ; align-items: center ; padding: 10px; "   > 
        <h3 class="col-12 " style="padding-bottom: 10px;">ОТСЛЕДИТЬ ЗАКАЗ</h3>
        <div class="d-flex" style="width: 100%; ">
        <form method="GET" action="?q=Search" style="width: 100%;" class="d-flex justify-content-center">
          <input id="input-id"  style="width: 50%;  height: 50px; " class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
          <button onclick="search()"   style=" margin-left: -20px; background-color: #ED4248; color: #fff;"  class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>

      </div>
      
      <div class="input-zakaz-div row" style=" margin-top: 20px; box-shadow: 0 0 10px 1px #7b7b7b ; border-radius: 10px;  justify-content: center ; align-items: center ; padding: 10px; "   > 
        {% for article in articles %}
        <h3 id="title-title" class="">{{article.title}}</h3>
        
        <div class="d-flex flex-wrap" style="width: 50%; text-align: center;  height: auto; margin: 0 auto  ; " > 
          {% for status in article.statuses.all %}
          <p id="title-body" class="" style=" width: 33%; justify-content: start; align-items: center;  ">{{status.date_status}}</p>
          <div style="background-color:#ED4248; width: 1%; height: auto; border-radius: 5px; margin: 0 auto; margin-bottom: 8px; "></div>
          <p id="title-date" class="" style="width: 65%; margin-bottom: 10px; display: flex; flex-wrap: wrap; text-align: left; justify-content: start;">{{status.status}}</p>  
          {% endfor %}
        </div>
      
        {% endfor %}

        

      </div>


      </div>
      </div>
      
   

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="{% url 'home' %}" class="logo d-flex align-items-center">
            <span>S.A.F</span>
          </a>
          <p>SAF LOGISTICS стремится интегрировать преимущества железных дорог, автомобильных перевозок, складских, торговых и портовых складов и других ресурсов канала, используя цифровые технологии для создания совместной работы в режиме реального времени， которая может предоставить комплексные логистические услуги автомобильных, железнодорожных и авиаперевозок из Китая, из Европы, из России в Узбекистан а так же из других стран СНГ</p>
          <div class="social-links d-flex mt-4">
            <a href="https://t.me/saflogistics" class="twitter"><i class="bi bi-telegram"></i></a>
            <a href="https://www.facebook.com/saflogistics" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/saflogistics.uz/" class="instagram"><i class="bi bi-instagram"></i></a>
          </div>
        </div>

        <!-- <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div> -->

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Связаться с нами</h4>
          <p>
          Чиланзарский р-н, 76 Arnasay Street,<br>
             Tashkent 100115,<br>
            Узбекистан <br><br>
            <strong>Телефон:</strong><a href="tel:+998 97 714 00 28" style="color: #fff;">+998 97 714 00 28</a><br>
            <strong>Эл. адрес:</strong> <a href="mailto:saflogisticsuz@gmail.com"  style="color: #fff;" > saflogisticsuz@gmail.com</a><br>
          </p>

        </div>

      </div>
    </div>

    

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>